NEXT_PUBLIC_POSTHOG_KEY=phx_1jT1b88OvdM5IDkye31q6gqliPLWlouLUUQa3v3VQAgWWua
NEXT_PUBLIC_UPDATE_PUBLIC_KEY=up_pub_34fdb38c331efcc67daaf3f8792a0860dca177203fdaf623079951ac49127e75
NEXT_PUBLIC_SUPABASE_URL=https://jiasbwazaicmcckmehtn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImppYXNid2F6YWljbWNja21laHRuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDcwMTk3MTcsImV4cCI6MjA2MjU5NTcxN30.ylb91zHcJ_RN7s_pOUDIjx9YM2gq_Lp1JtW3upmZII4